---
import Aside from '../components/Aside.astro';
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Portafolio || Carlos Rojas" >
	<main id="punto"   class=" mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0 md:p-16 max-lg:flex max-lg:flex-col max-sm:p-7 max-sm:flex max-sm:flex-col grid grid-cols-2 w-full h-auto pl-36 "  style=`background: radial-gradient(600px at 1019px 248px, rgba(29, 78, 216, 0.15), transparent 80%);`>
	    <header class=" sm:relative sm:h-72 mt-20 ">
            <Aside></Aside>
		</header>
		<article class="mt-24">
             <Card></Card>
		</article>
		<!-- sm:relative sm:h-72 -->
	</main>

</Layout>
<script>
       let punto = document.getElementById("punto");
		window.addEventListener("mousemove",(e)=>{
		
			punto.style.background = `radial-gradient(600px at ${e.clientX}px ${e.clientY}px, rgba(29, 78, 216, 0.15), transparent 80% )`
	
		})
</script>
<style>
    #punto{
		overflow: auto;
	}
</style>
