---

import Section from "./Section.astro";
import FindSection from "./FindSection.astro";

interface info {
	info:string | null;
}
const {info} = Astro.props;

let carro = info ? "class-read":"class-hiden" 
---

<section class="mb-16">
	<div>
		<p class="mb-4 text-slate-400 ">
			Buen dia, soy desarrollador y estudiante de sistemas 
			desde que empeso mi gusto por la programacion supe que
			desde ese momento tendria una motivacion por el cual deberia
			seguir estudiando por mis sueños y metas, ese gran deseo desperto
			en mi una gran motivacion por seguir aprendiendo sobre esta rama
			tan gustosa y emocionante que me provoca este tipo de sansacion 
			tan gratificante cada vez que logro obtener una solucionar cada vex que 
			tengo un proyecto o logica que aveces me deja horas y horas pensando en
			cual sera el problema o como deberia implementar cierto lenguaje 
		</p>
		<p class="text-slate-400">
            De tal manera espero que pueda ser excencial esta motivacion que tengo
			sobre la programacion y aunque para algunos no sea suficiente dare
			lo que sea necesario para poder avanzar en este hambito y poder
			ser un gran programador, y a mis 22 años espero lograr muchas cosas
			nuevas y buenas en mi vida. Gracias
		</p>
	</div>
</section>
<ol class="padre" id="titulod">
	<li class="mb-3">
		<Section
		
		time="2024-Full Time"
		titulo="Freenlance Desarrollador Front end"
		parrafo={`Mejor proyecto se trata de una CHAT 
                ,desarrollado para conversar con personas con su correo electronico
                el CHAT se puede dialogar de uno a uno se puede 
                observar su informacion de su registro, si desea hablar con migo coloca 
                en el buscador cuando se loge carlos@gmail.com`}
		lenguajes1="React"
		lenguajes2="Vite"
		lenguajes3="Typescript"
		lenguajes4="Tailwing"
		lenguajes5="Zustand"
		lenguajes6="zod"></Section>
	</li>
	<li class="mb-3">
		<Section

		time="2024-Full Time"
		titulo="Freenlance Desarrollador de una pagina Web"
		parrafo={`El trabajo trataba de venta de softaware en la cual me encargaba
		de lo visual que era la parte front end,aquella pagina estaba bastante robusta
		e interesante me encargaba del filtrado de la informacion errores de logeo y 
		configuracion de las paginaciones`}
		lenguajes1="React" 
		lenguajes2="axios"		
		lenguajes3="Typescript"
		lenguajes4="Tailwing"></Section>
	</li>
	<li class="mb-3 ">
		<Section
		time="2024-Full Time"
		titulo="Freenlance Desarrollador Back-end"
		parrafo={`Cree una pagina que requerian alumnos de la upc lo que necesitaban
		era un pagina que hiciera un filtro de las personas que se logeaban y 
		si estaban aptas podian tener un credito para poder comprar un carro toda la info
		teorica sobre la contabilidad y los requisitos autmaticos lo saque del BCP como modelo
		de ejemplo`}
		lenguajes1="React"
		lenguajes2="Next"
		lenguajes3="Mysql"
		lenguajes4="Java"
		lenguajes5="RestApi"
		lenguajes6="insomnia"


		></Section>
	</li>
</ol>
<div class="text-slate-300 font[900]  text-2xl h-40 flex items-center">
	<h2 id="titulot"  class=" font[900] font-mono text-2xl">Proyectos Personales</h2>
</div>
<div>
	<ol>
		<li class="mb-3">
			<FindSection
			src="https://1109car.github.io/chatIA/"
			img="https://i.ibb.co/18wSnTG/GPT.png"
			titulo="CHAT - GPT"
			parrafo={`Es un chat que puedes comunicarte e interactuar con una IA, es decir que
			que le pueces hacer preguntas de lo que mas le convenga y la IA le dara las respuestas ,
			este proyecto fue realizado con javascript vanilla y procesos legibles de programacion
			para que se mantenga optimizado`}
			
			></FindSection></li>
			<li class="mb-3">
				<FindSection
				src="https://1109car.github.io/empresacafe/t2arquitecuraWeb/index.html"
				img="https://i.ibb.co/h8x6H3f/cafesu.pngcle"
				titulo="Pagina de Cafe - Replica"
				parrafo={`Este Pagina lo hice bootstrap fue para un examen de la carrera
				lo interesante de ello es que usamos libreria de edicion que ayudaba 
				a que la pagina fuese mas interactivo`}
				
				></FindSection></li>
				<li class="mb-3">
					<FindSection
					src="https://1109car.github.io/ecommers/E-Commerse/index.html"
					img="https://i.ibb.co/kGwSQTz/ecommers.png"
					titulo="Ecommers "
					parrafo={`Pagina de ventas de ropa filtrado por diferentes tipo
					de prendas tiene un lado de compra y de acumulacion de prendas 
					pero solo esta de muestra fue echo con javascript y css, javascript 
					vanilla`}
					
					></FindSection></li>
					<li class="mb-3">
						<FindSection
						src="https://1109car.github.io/proyecto_alura/"
						img="https://i.ibb.co/Qk1Hc9x/javasc.png"
						titulo="Oracle - Next Education"
						parrafo={`Este programa de enseñansa  es internacional que dan beca a las personas
						que desean ser programadores, te especializan en el area que prefieras 
						y en ellas son front - end y Back - end en la cual dura un año`}
						
						></FindSection></li>
						<li class="mb-3">
							<FindSection
							src="https://1109car.github.io/github_carlos/"
							img="https://i.ibb.co/d6zKx1L/cafe.png"
							titulo="Tasa de Cafe Responsive"
							parrafo={`Fue una pagina de cafe de una portada fue una de mis 
							primeras paginas que realice como desarrollador, y desde ese momento
							desidi empesar a programar y aprender`}
							
							></FindSection></li>
							<li class="mb-3">
								<FindSection
								src="https://1109car.github.io/Star-War/practicando/index.html"
								img="https://i.ibb.co/NjD0svw/starWar.png"
								titulo="Filtro de un API"
								parrafo={`Api aleatoria que cosegui en internet y lo que hace es filtrar
								personajes de Start War mostrar por categoria , autor y año de lansamiento,
								la api esta un poco lenta asi que sera necesario esperar un poco a que cargue`}
								
								></FindSection></li>
								<li class="mb-3">
									<FindSection
									src="https://youtu.be/vn3-NKhhPkk"
									img="https://ibb.co/pxqM4fz"
									titulo="Login JWT, MVC"
									parrafo={`Creacio de un login usando jwt , uso de la arquitectura MVC 
									tambien como base de datos use Mysql y tailwing, Front end- React-Vite y 
									Backend Nodejs, express, cookies, Mysql2, cors, nodemon vide github :
									https://github.com/1109car/render-carlo: vide explicativo: https://youtu.be/vn3-NKhhPkk`}
									
									></FindSection></li>
					
								
	</ol>
	<div class="text-slate-400 pt-5 text-xs pb-5">
	<span>	Desarrollador Front - end, Back - end , Administracion de Base de datos Aplicaciones moviles, Estudiante de sistemas</span>
     <span>Este Portafolio fue realizado con Astro. </span>	
</div>
</div>





<script>


	let ul =  document.querySelectorAll(".mb-3")

	ul.forEach((d)=>{
		
		d.addEventListener("mouseover",(e)=>{

			ul.forEach(l=>{
                if (l !== e.currentTarget) {
					l.classList.add("faded")
				}
			})			
		})
		d.addEventListener('mouseout', (e) => {
                    ul.forEach(l => {
                        l.classList.remove('faded');
		});
	})
	})
  	

</script>
<style>
	.faded{
		opacity: 0.5;
	}
	/* li:empty {
  display: none;
} */
</style>
